.text {
    font-family: 'Montserrat', sans-serif;
    animation: 1.2s cubic-bezier(.2,.6,.2,1);
    animation-fill-mode: backwards;
    overflow: hidden;
    font-size: 7em;
}
.footer {
    position:fixed;
    clear:both;
    bottom: 0;
    background-color:white;
    border-top:2px solid black;
    border-top-width: thin;
    height:50px;
    width:75%;
    text-align:center;
    color: black;
    font-family: "Montserrat",sans-serif;
    overflow: hidden;
}
.body {
    clear: both;
    font-family: 'Montserrat', sans-serif;
    height:800px;
    max-width: 750px;
    font-size: 2.5em;
    overflow:auto;
    padding-bottom: 100px;
    top:0px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
::-webkit-scrollbar{
    display: none;
}
.title{
    margin-top:300px;
}
.nav-tabs{
    border-bottom:none;
}
.nav-tabs{  
    color:black;
    font-family: 'Montserrat', sans-serif;
}

.tabs>a.active{
 font:bolder;
 text-decoration: underline;
 font-size: 1.5em;
}

/* CONTACT FORM*/

.contactBody {
    font-family: 'Montserrat', sans-serif;
    max-width: 750px;
    font-size: 2.5em;
    overflow:auto;
    margin-top:300px;
}

.form-group{
    font-family: 'Montserrat', sans-serif;
    font:thin;
}

form{
    margin-top:300px;
}
.formtext{
    font-family: 'Montserrat', sans-serif;
}
.form-control{
    border-top:none;
    border-right:none;
    border-left:none;
    -webkit-border-before-color: none;
    border-color:black;
    border-radius: 0;
    border-bottom-width: thin;
}
#input {
    outline:0;
}
.btn{
    outline:0;
    font-family: "Montserrat", sans-serif;
    color:black;
    background-color:white;
    border:none;
    outline:0;
}
.btn:focus{
    outline:0;
    background-color: darkgrey;
    box-shadow: 0;
}
.btn:hover{
    outline:0;
    background-color:lightgrey;
    box-shadow: 0;
}
.btn:active{
    outline:0;
    background-color: lightgrey;
    box-shadow: 0;
}
.projects{
    top:100px;
}
.link{
font-family: 'Montserrat', sans-serif;
color:black;
font-size: 4rem;
}
.project-description{
    font-family: 'Montserrat', sans-serif;
    color:black;
}

.link:hover{
color:lightgrey;
}
.link:focus{
    color:darkgrey;
}
.nav-tabs:hover{
    color:lightgrey;
}
.nav-tabs:focus{
    color:darkgrey;
}

.form-control:focus {
    box-shadow:none;
    border-color: white;
    border-bottom-color: black;
}
a { 
    color:black;
}

a:hover {
    color:darkgrey;
}